# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
yarn.lock
package-lock.json

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/
.next/
.swc/

# production
/build
dist/

# misc
.DS_Store
*.pem
Thumbs.db
ehthumbs.db
Desktop.ini
._*
.Spotlight-V100
.Trashes

# debug logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# local env files
.env*
!.env.example
*.env.docker

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.iml
*.iws
*.ipr
.vscode-test

# cache
.cache/
.webpack/
.npm
.eslintcache
.stylelintcache

# build tools
.turbo
storybook-static/

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# supabase
supabase/.branches/
supabase/.temp/
.supabase/

# docker
docker-compose.override.yml
.docker/

# python
__pycache__/
*.py[cod]
*$py.class